
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml


# Node.js dependencies
backend/node_modules/
backend/npm-debug.log
backend/yarn-error.log

# Environment variables
backend/.env